* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #555555;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid #faf7f7;
    background-color: #e9e9e9;
  }
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
    padding-right: 10px;
    padding-left: 10px;
    .row {
        .logo {
            a {
                img {
                    width: 200px;
                }
            }
        }
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1180px;
    padding-right: 10px;
    padding-left: 10px;
    .row {
        .logo {
            a {
                img {
                    width: 200px;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Bootstrapmade

.container-fluid {
    .row {
        .col-4 {
           .navigate {
               .icons {
                display: flex;
                justify-content: space-around;
                    a {
                        border: 1px solid;
                        border-radius: 5px;
                        font-size: 25px;
                        padding: 5px;
                        &:hover {
                            color: #00A6EB;
                        }
                    }
                }
            }
        }
    }
}

.navigate {
    .icons {
        a {
            &:hover i {
                color: #00A6EB;
            }
        }
    }
}

.icons {
    .download-icon {
        a {
            background-color: #00A6EB;
            i {
                color: #fff;
            }
        }
    }
}

.icons {
    .download-icon {
        a {
            span {
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

// Info Nav

.info {
    .info-contact {
        font-size: 15px;
        color: #444444;
        .contact {
            display: flex;
            .email {
                padding-right: 20px;
                padding-left: 20px;
                i {
                    color: #50D8AF;
                    a {
                        border-right: 1px solid;
                        padding-right: 10px;
                        &:hover {
                            color: #50D8AF;
                        }
                    }
                }
            }
         }
    }
}

.info {
    .info-contact {
        font-size: 15px;
        color: #444444;
        .contact {
            display: flex;
            .phone-number {
                i {
                    color: #50D8AF;
                }
            }
        }
    }
}


.info {
    .links {
        .social-link{
            flex-direction: row;
            display: flex;
            justify-content: flex-end;
            a {
                margin-right: 20px; 
                border-right: 1px solid #8e8e8e;
                }
                i {
                    font-size: 15px;
                    padding-right: 10px;
                    &:hover {
                        color: #50D8AF;
                    }
            }
        }
    }
}

// Dropdown
.dropdown-menu {
    .row {
        .col-4 {
            .logo-symbol {
                a {
                    font-size: 50px;
                    font-weight: 600;
                    color: #0C2E8A;
                    span {
                        color: #50D8AF;
                    }
                }
            }
        }
    }
}

.col-8 {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
            a {
                &:hover {
                    color: #50D8AF;
                }
            }
        }
    }
}

.nav-menu .navbar .menu-active a {
    color: #50D8AF; 
} 

.btn {
    background-color: transparent;
    border: none;   
}
button {
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    &:hover {
        color: #50D8AF;
    }
}

.dropdown-item {
    font-size: 10px;
    font-weight: 600;
}

.navbar {
    font-size: 15px;
    font-weight: 600;
    .menu {
        .dropdown {
            display: flex;
            flex-direction: column;
            &:hover .dropdown-content {
                    display: flex;
                    flex-direction: column;
            }
        }
    }
}

.dropdown .dropdown-content {
    display: none;
}

